
@{
    ViewBag.Title = "Campaign";
    Layout = "~/Views/Shared/_LayoutaAdminCMS.cshtml";
}
<script>
    const button = document.querySelector("#button");
    const select = document.querySelector('#drpdown');
    const options = document.querySelectorAll(".option");
    const selectLabel = document.querySelector('#select-label');

    button.addEventListener("click", function (e) {
        e.preventDefault();
        toggleHidden();
    });

    function toggleHidden() {
        select.classList.toggle("hidden");
    }

    options.forEach(function (option) {
        option.addEventListener("click", function (e) {
            setSelectTitle(e);
        });
    });

    function setSelectTitle(e) {
        const labelElement = document.querySelector(`label[for="${e.target.id}"]`).innerText;
        selectLabel.innerText = labelElement;
        toggleHidden();
    };

</script>

<div class="navmenu">
    <a class="drawing" href="@Url.Action("Campaign","Campaign")"><i class="fa-solid fa-tags" style="font-size:25px;padding-right:5px;"></i>Campaigns</a>

    
    <a href="@Url.Action("CreateCampaigns","Campaign")"><i class="fa-solid fa-circle-plus insert iconView" style="float:right;cursor:pointer;font-size:30px;color:#c55a11;"></i></a>
   
</div>

<div class="navmenu2">
    <div class="selectbox" style="padding:14px 25px;display:inline-block;">
        <select id="selectbox" data-selected="" class="selectbox" style="padding:14px;">
            <option value="" selected="selected" disabled="disabled">Match all filter</option>
            <option value="1">Ocean Wall</option>
            <option value="2">Skate Park</option>
            <option value="3">Mountain View</option>
            <option value="4">Cityscape</option>
            <option value="5">Workshop</option>
        </select>
    </div>

    <div class="selectbox" style="padding:14px 25px;display:inline-block;">
        <select id="selectbox" data-selected="" class="selectbox" style="padding:14px;">
            <option value="" selected="selected" disabled="disabled">Search criteria</option>
            <option value="1">Ocean Wall</option>
            <option value="2">Skate Park</option>
            <option value="3">Mountain View</option>
            <option value="4">Cityscape</option>
            <option value="5">Workshop</option>
        </select>
    </div>

    <div class="selectbox" style="padding:14px 25px;display:inline-block;">
        <select id="selectbox" data-selected="" class="selectbox" style="padding:14px;">
            <option value="" selected="selected" disabled="disabled">Codition</option>
            <option value="1">Ocean Wall</option>
            <option value="2">Skate Park</option>
            <option value="3">Mountain View</option>
            <option value="4">Cityscape</option>
            <option value="5">Workshop</option>
        </select>
    </div>

    <div class="selectbox" style="padding:14px 25px;display:inline-block;">
        <select id="selectbox" data-selected="" class="selectbox" style="padding:14px;">
            <option value="" selected="selected" disabled="disabled">Value</option>
            <option value="1">Ocean Wall</option>
            <option value="2">Skate Park</option>
            <option value="3">Mountain View</option>
            <option value="4">Cityscape</option>
            <option value="5">Workshop</option>
        </select>
    </div>

    <div style="display:inline-block;float:right;">
        <button style="background: url(/Content/images/buttonAdd.png);height:40px;min-width:100px;background-repeat:no-repeat;border:none;cursor:pointer;"></button>
    </div>
    
    <div style="display:inline-block;float:right;clear:both;">

        <button style="background: url(/Content/images/buttonReload.png);height:40px;min-width:105px;background-repeat:no-repeat;border:none;cursor:pointer;"></button>
        <p style="font-style:italic;float:left;padding-right:10px;margin-top:10px;">2 entries match</p>
    </div>
    
</div>

<div class="navmenu2">
    <table class="fill">
        <tr>
            <th>Name</th>
            <th>Start Date</th>
            <th>Expired Date</th>
            <th>Activated Code</th>
            <th>Gifts Quantity</th>
            <th>Scanned</th>
            <th>Used for spin</th>
            <th>Win</th>
        </tr>
        <tr></tr>
        @{int count = 1;}
        @foreach (var item in Model)
        {

            <tr>
                <td>
                    <a style="padding:10px;" href="#"><i class="fa-solid fa-unlock-keyhole"></i>Lucky Draw @count</a>
                    @*<a style="display:flex;margin-left:80px;padding:5px;text-decoration:none;" href="#"><i class="fa-solid fa-paper-plane"></i>Active</a>*@
                </td>
                <td>
                    <p style="">@item.StartDate</p>
                </td>
                <td>@item.EndDate</td>
                <td>Peter</td>
                <td>Griffin</td>
                <td>@item.Scanned</td>
                <td>@item.UsedForSpin</td>
                <td>@item.Winner</td>
            </tr>

            count++;


        }
    </table>
</div>

<script src="~/Content/JS/main.js"></script>


@*<script>
    // Get the container element
    var btnContainer = document.getElementById("topnav");

    // Get all buttons with class="btn" inside the container
    var btns = btnContainer.getElementsByClassName("Mybtn");
    btns[0].classList.add("active");
    // Loop through the buttons and add the active class to the current/clicked button
    for (var i = 0; i < btns.length; i++) {
        btns[i].addEventListener("click", function () {
            if (btns[0].classList.contains("active")) {
                btns[0].classList.remove("active");
                continue;
            }
            // var current = document.getElementsByClassName("active");
            // current[0].className = current[0].className.replace(" active", "");
            // this.className += " active";
            else {
                btns[i].classList.add("active");

            }
        });
    }
</script>*@
